{% extends 'base.html' %}

{% block title %}
Expense Index | Expense-list
{% endblock %}

{% block content %}
<h1>Expense-list</h1>

{% for expense in expenses %}
<a href="{% url 'expenses_detail' expense.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">
                <ul>
                    <li>{{ expense.name }}</li>
                    <li>Cost: ${{ expense.cost }}</li>
                </ul>
            </span>
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}